<!-- quanlynhanvien.html -->
{% extends 'base.html' %}

{% block title %}
    Quản Lí Nhân Viên
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css_nhan_vien/nhanvien.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <script>
        function validateSearchForm(event) {
            const searchInput = document.querySelector('input[name="keyword"]');
            if (searchInput.value.trim() === '') {
                alert('Vui lòng nhập từ khóa tìm kiếm');
                event.preventDefault(); // Ngăn chặn form submit
            }
        }
    </script>

{% endblock %}

{% block content %}
    <h1>Quản lý Nhân Viên</h1>
    
    <div class="action-links">
        <a href="/themnhanvien">Thêm Nhân Viên mới</a>
        <a href="/phan_cong_viec">Phân công việc</a>
    </div>

    <!-- Form tìm kiếm -->
    <div class="search-container">
        <form action="{{ url_for('quan_ly_nhan_vien.quanlynhanvien') }}" method="GET" class="search-form" onsubmit="validateSearchForm(event)">
            <input type="text" name="keyword" placeholder="Nhập từ khóa tìm kiếm...">
            <button type="submit">Tìm kiếm</button>
        </form>
    </div>

    <table>
        <thead>
            <tr>
                <th>Mã Đăng Nhập</th>
                <th>Tên Đăng Nhập</th>
                <th>Mật Khẩu</th>
                <th>Họ Tên</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Tùy chọn</th>
            </tr>
        </thead>
        <tbody>
            {% for nhanvien in nhanviens %}
            <tr>
                <td>{{ nhanvien.id }}</td>
                <td>{{ nhanvien.username }}</td>
                <td>{{ nhanvien.password }}</td>
                <td>{{ nhanvien.full_name }}</td>
                <td>{{ nhanvien.phone_number }}</td>
                <td>{{ nhanvien.address }}</td>
                <td>
                    <a href="{{ url_for('quan_ly_nhan_vien.sua_nhan_vien', id=nhanvien.id) }}" class="edit-button">Sửa</a>
                    <a href="/quan_ly_nhan_vien.xoanhanvien/{{ nhanvien.id }}" class="delete-button" onclick="return confirm('Bạn có chắc muốn xóa nhân viên này?')">Xóa</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="action-links">
        <a href="/tong_luong_thang">Tổng lương tháng</a>
        <a href="/tong_luong_nam">Tổng Lương Năm</a>   
    </div>
{% endblock %}
