body {
  
    background-image: url('../../images/nen13.jpg');
    background-size: cover; /* Đảm bảo hình nền được phủ hết toàn bộ màn hình */

font-family: Arial, sans-serif;
}
.form-container {
    width: 50%; /* Độ rộng của form */
    margin: 0 auto; /* Để căn giữa form */
    background-color: #f2f2f29b; /* Màu nền */
    padding: 20px; /* Khoảng cách lề bên trong form */
    border-radius: 10px; /* Bo tròn viền của form */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Đổ bóng cho form */
}

.form-container label {
    display: inline-block; /* Hiển thị nhãn label trên cùng dòng */
    margin-bottom: 10px; /* Khoảng cách dưới giữa các label */
}

.form-container input[type=text],
.form-container input[type=number] {
    width: 100%; /* Độ rộng của input */
    padding: 8px; /* Khoảng cách lề bên trong input */
    margin-bottom: 15px; /* Khoảng cách dưới giữa các input */
    border: 1px solid #ccc; /* Viền của input */
    border-radius: 5px; /* Bo tròn viền của input */
    box-sizing: border-box; /* Đảm bảo rằng padding và border được tính vào width */
}

.form-container button[type=submit] {
    background-color: #4CAF50; /* Màu nền của nút */
    color: white; /* Màu chữ của nút */
    padding: 10px 20px; /* Khoảng cách lề bên trong nút */
    border: none; /* Bỏ viền của nút */
    border-radius: 5px; /* Bo tròn viền của nút */
    cursor: pointer; /* Biến con trỏ thành hình tay khi hover */
    float: right; /* Đẩy nút về phía phải */
}

.form-container button[type=submit]:hover {
    background-color: #45a049; /* Màu nền của nút khi hover */
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
}
.back-button:hover {
    background-color: #d32f2f;
}