{% extends 'base.html' %}

{% block title %}
    Sửa Sản Phẩm
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sua_san_pham.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Sửa thông tin sản phẩm</h1>
    <form method="POST" action="{{ url_for('quan_ly_san_pham.sua_san_pham', MaSP=sanpham.MaSP) }}">
        <label for="TenSP">Tên SP:</label>
        <input type="text" id="TenSP" name="TenSP" value="{{ sanpham.TenSP }}"><br>
        <label for="Gia">Giá:</label>
        <input type="number" id="Gia" name="Gia" value="{{ sanpham.Gia }}"><br>
        <label for="SoLuong">Số Lượng:</label>
        <input type="number" id="SoLuong" name="SoLuong" value="{{ sanpham.SoLuong }}"><br>
        <button type="submit">Cập nhật</button>
        <a href="/quan_ly_san_pham.quanlysanpham" class="back-button">Quay lại</a>

    </form>
</div>
{% endblock %}
