<!-- them_ban.html -->
{% extends 'base.html' %}

{% block title %}
    Sửa bàn
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css_ban/them_ban.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}
{% block content %}

    <div class="container">
        <h2>Thêm Bàn mới</h2>
        <form method="post">
            <label for="ten_ban">Tên Bàn:</label>
            <input type="text" id="ten_ban" name="ten_ban" required>

            <label for="loai_bida">Loại Bida:</label>
            <input type="text" id="loai_bida" name="loai_bida" required>

            <label for="tinh_trang">Tình Trạng:</label>
            <input type="text" id="tinh_trang" name="tinh_trang" required>

            <input type="submit" value="Thêm">
        </form>
        <a href="/quanlybillards" class="back-button">Quay lại</a>
    </div>
</body>
</html>
{% endblock %}