<!-- them_khach_hang.html -->
{% extends 'base.html' %}

{% block title %}
    Thêm khách hàng
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css_khach_hang/them_khach_hang.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <script>
        function validatePhoneNumber(event) {
            const input = event.target;
            const value = input.value;

            // Xóa các ký tự không phải số
            const sanitizedValue = value.replace(/\D/g, '');

            // Giới hạn ký tự tối đa là 13
            if (sanitizedValue.length > 13) {
                input.value = sanitizedValue.slice(0, 13);
            } else {
                input.value = sanitizedValue;
            }
        }

        function validateEmail(event) {
            const input = event.target;
            const value = input.value;

            // Kiểm tra email có chứa '@' hay không
            if (!value.includes('@')) {
                input.setCustomValidity("Email phải chứa ký tự '@'");
            } else {
                input.setCustomValidity("");
            }
        }
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Thêm Khách Hàng mới</h2>
        <form method="post">
            <label for="TenMember">Tên Khách Hàng:</label>
            <input type="text" id="TenMember" name="TenMember" required>

            <label for="DiaChi">Địa Chỉ:</label>
            <input type="text" id="DiaChi" name="DiaChi" required>

            <label for="SoDienThoai">Số điện thoại:</label>
            <input type="text" id="SoDienThoai" name="SoDienThoai" required oninput="validatePhoneNumber(event)">
           
            <label for="Email">Email:</label>
            <input type="text" id="Email" name="Email" required oninput="validateEmail(event)">

            <input type="submit" value="Thêm Nhân Viên">
        </form>
        <a href="/quanlykhachhang" class="back-button">Quay lại</a>
    </div>
{% endblock %}
